{%load humanize%}
{%load social_share%}
{%load static%}

<div class="modal fade" id="del_confirm" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="background: #421c52; height: 40px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
    <p style="color: #fff;">Delete Confirm</p>
    </div>
    <div class="modal-body">
    <p>You sure you want to delete this post?</p>
    <button class="btn btn-success del_conf" data-dismiss="modal">Yes</button>
    <button class="btn btn-danger" data-dismiss="modal">No</button>
    </div>
  </div>
  </div>
</div>

<div class="infinite-container">
 {%for block in block_list%}
 <div class="infinite-item">
  <div class="well" id="{{block.id}}">

    <div class="block_header">
        <img class="block_thumb" src="https://www.gravatar.com/avatar/{{block.profile}}?f=y&d=monsterid&s=50" alt="User Profile">
     <div class="block_name">
        <b>{{block.auth_name}}</b>
      </div>
      <span class="block_time">{{ block.posted_on|naturaltime }}</span>
      {% if block.id in request.session.can_delete_block %}
        <a href="javascript:void(0)" class="block_del_btn" data-toggle="modal"><i class="fa fa-trash" style="color: #fff; float: right;"></i></a>
      {% endif %}

    </div>

    <div class="block_body" style="position: relative;">
      <div class="block_content">
        <p>{{block.content|safe|linebreaks}}</p>
      </div>

      {% if block.image %}
        <img class="block_img" src="{{block.image.url}}" alt="{{block.content|truncatechars:20}} Image"><br>
      {% endif %}

      <div class="like">
          <i id="{{block.id}}" class="fa fa-hand-paper-o" aria-hidden="true"></i>&nbsp;
          <div class="lnum" style="display: inline;">{{block.likes}}</div>
      </div>
      <div class="comments">
        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;<span class="cnum">{{block.comments.count}}</span>
      </div>
<!--      <div class="bookmark">
        <a class="dropdown-toggle share-btn" data-toggle="dropdown" href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
      </div> !-->
<!--      <div class="shares" style="position: absolute; bottom:35px; left: 40%; display: none">
        <ul class="list-inline" style="background: #d5c3db; opacity:0.9;padding: 5px; border-radius: 10px; width: 135px;">
            <li style="margin-left: 5px;">{% post_to_gplus block %}</li>
            <li>{% post_to_facebook block.content %}</li>
            <li style="margin-right: 5px;">{% post_to_twitter block.content %}</li>
        </ul>
      </div>!-->
    </div>

    <div class="comment_box" name="{{block.id}}">
      <hr style="padding: 7px; margin: 1px;">
      <form class="com_form" method="post" action="{%url 'write_anon_comment'%}">
        {%csrf_token%}
        <div class="container com_cont">
          <div class="row">
            <div class="col-xs-12">
              <textarea style="position: relative;" class="comment_edit" name="rant" id="id_rant" placeholder="Comment"></textarea><br>
              <button class="com_send_btn" type="submit"><i class="material-icons" style="color: #421c52;font-size: 20px;">send</i> </button>
            </div>
          </div>
        </div>
      </form><br>
      <div class="coms">
      <table class="table table-borderless table-condensed" style="margin-bottom: 0px;">
      <tbody>
      {%for comment in block.comments.all%}
          <tr id="{{comment.id}}">
            <td class="col-xs-1 com_img">
              <img height="45" width="45" src="https://www.gravatar.com/avatar/{{comment.profile}}?f=y&d=monsterid" style="position: relative;">
            </td>
            <td class="col-xs-8 com_tex"  style="vertical-align: middle; position: relative;bottom: 5px;">
              <p>{{comment.rant}} ({{comment.posted_on|naturaltime}})</p>
            </td>
            <td class="col-xs-1">
              <p style="position: relative;">
              <i class="material-icons bups" style="font-size: 18px; color: #9336a3">change_history</i>
              <div class="unum" style="position: relative; bottom: 15px; left:5px">{{comment.upvotes}}</div>
              </p>
            </td>
          </tr>
      {%endfor%}
      </tbody>
      </table>
      </div>
    </div>
  </div>
  </div>
 {%endfor%}
</div>
