{%extends 'writers_block/base.html'%}
{%block title%}
	Publish Piece
{%endblock%}
{%block body%}
	<div class="container">
		<form action="" method="post" enctype="multipart/form-data">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					</label><input type="text" name="title" style="font-family: Roboto, Arial, serif;width: 100%; padding: 10px; border: 1px solid #9336a3; border-radius: 10px" id="id_title" placeholder="Title">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<textarea name="summary" style="font-family: Roboto, Arial, serif;width: 100%; padding: 10px; border: 1px solid #9336a3; border-radius: 10px;" id="id_summary" placeholder="Summary (Try for 120 chars or more)"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<button class="btn" style="background: #421c52; color: #fff; width: 50%; display: block; margin: 0 auto; margin-top: 20px;"> <input type="file" name="thumb" id="id_thumb" style="border-radius: 5px;" /></button>
					<button class="btn" type="submit" value="submit" style="background: #421c52;color: #fff;display: block; margin: 0 auto; margin-top: 20px; border-radius: 30px; border: 2px solid #000">Publish</button>
				</div>
			</div>
					{{form.media}}
					{%csrf_token%}
				</div>
			</div>
			</form>
	</div>
{%endblock%}

{%block js%}
	<script type="text/javascript">
		
	</script>
{%endblock%}