{%extends 'auth_app/layout.html'%}
{%block title%}
  Reset Password
{%endblock%}
{%block body%}
  {%if validlink%}
    <p>Enter a new password</p>
    <div class='password_reset_form'>
      <form action="" method='post'>
        {%csrf_token%}
        {{form.as_p}}
        <input type="hidden" name="next" value="{{next}}"">
        <input type="submit" value="Change my password">
      </form>
    </div>
  {%else%}
    <p> Sorry, the link was rotten. Did you already use it once? Don't worry. You can always request a password reset again.</p>
  {%endif%}
{%endblock%}
