{%extends 'auth_app/layout.html'%}
{%load static%}
{%block title%}
  Registration | Blumury | The Movie Buffs Network
{%endblock%}
{%block style%}
body { 
  background: url('{% static 'images/cov.jpg' %}') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

h1 {
  height: 70px;
  width: 100%;
  font-size: 18px;
  background: #421c52;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form {
  box-sizing: border-box;
  width: 100%;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background:#fff;
}

form p {
  box-sizing: border-box;
  padding: 20px;
  font-size:30px;
  font-family:Just Another Hand;
  text-align: center
}

input {
  margin: 20px;
  width: 85%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #421c52;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #421c52 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #421c52 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  color: #421c52;
}


input:focus, input:valid {
  box-shadow: none !important;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #421c52;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}
button {
  border: none;
  background: #421c52;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 85%;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
 
The magic happens in a few lines of code for the input:focus and input:valid. The CSS transform property plays a crucial role to achieve this little instant feedback effect.

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #421c52;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

{%endblock%}
{%block body%}

<div class="container">
  <div class="erors" style="background: #f4b642; display: none; padding: 5px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
  <p style="text-align: center; font-family: Roboto, Arial; color: #fff">Sorry, Username already taken</p>
  </div>
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div>
    <form action="{%url 'signup'%}" method="post">
    {% csrf_token %}
    <p>Blumury Signup</p>
    <input id="id_username" placeholder="Username" name="username" type="text" required="">
    <input type="email" id="id_email" placeholder="Email" name="email" required="">
    <input id="id_password" placeholder="Password" name="password" type="password" style="margin-bottom: 40px;" required="">
    <button type="submit">Submit</button>
    <h4 class="text-muted" style="text-align: center;">Or</h4>
    <div style="display: block; width: 85%; margin:0 auto">
    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center; color: #fff; font-family: Roboto">
      <span class="fa fa-facebook" style="font-size: 18px; margin-right: 10px;"></span>
                   Continue With Facebook
     </a>
     </div>
    
    </form>
    </div>
  </div>
  </div>
</div>

{%endblock%}
{%block js%}
<script type="text/javascript">
$('#id_username').on('change', function(){
  var username=$(this).val();
  $.ajax({
    url:'{%url "username_taken"%}',
    data: { 'username':username },
    datatype:'json',
    success: function(data) {
      if (data.taken){
        $('.erors').slideDown(200);
      }
      else{
        $('.erors').slideUp(200);
      }
    }
  });
});

</script>
{%endblock%}
