.profile_pic_center {
	display: block;
	margin: auto;
    border:5px solid #421c52;
    border-radius: 5px;
}
.profile_name {
	text-align: center;
	font-family: Roboto;
	overflow-wrap: break-word;
}
.profile_index {
	margin:0 auto;
	max-width: 525px;
}
#profile_pic_image {
    border:5px solid #421c52;
    border-radius: 5px;
}
#bio {
	max-width: 525px;
}
.bio_head {
	color:#421c52;
	font-family: Just Another Hand;
}
.follow_buttons {
	text-align: center;
}

.bio_div p {
	overflow-wrap: break-word;

}

//profile edit


.bio_edit textarea {
	border-color: #9336a3;
	border-radius: 5px;
	margin:0 auto;
	padding: 10px;
	position: relative;
}
.bio_edit textarea:focus {
	border-color: #9336a3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9336a3;

}
.avatar_upload_button, .avatar_upload_button:focus, .avatar_upload_button:active {
	margin:0 auto;
	background-color: #421c52;
	color: #ffffff;
	border-color: #000;
}
.avatar_upload_button:hover {
	margin:0 auto;
	background-color: #873196;
	color: #ffffff;
	border-color: #000;

}
.btn_custom,.btn_custom:active,.btn_custom:focus {
	margin:0 auto;
	background-color: #421c52;
	color: #fff; 
	border-color: #000;
}
.btn_custom:hover {
	margin:0 auto;
	background-color: #873196;
	color: #fff; 
	border-color: #000;

}
.form_headers {
	color: #9336a3;
	text-align: center;
}
.top-buffer { 
	margin-top:40px; 
}
.top-buffer2 { 
	margin-top:70px; 
}

[hidden] {
	display: none !important;
}
.edit_link {
	text-align: center;
	margin-top: -10px;
}
.btn-default, .btn-default:active, .btn-default:focus {
	border-color: #421c52;
	background-color: #9336a3;
	color: #fff;
}
.btn-default:hover {
	background-color: #421c52;
	color: #fff;
}
.follower_count {
	display: inline-block;
	background: #9336a3; 
	color: #fff; 
	padding: 8px 8px 8px 8px; 
	border-radius: 5px;
	margin-top: 1px;
}









