body {
     background-color: #eee;
     opacity: 1;
     padding-top: 90px;
     overflow-x: hidden;
     height: 100%;
 }

 body.modal-open {
    overflow: hidden;
}

.easy-autocomplete-container{
  max-height: 300px;
  overflow-y: scroll;
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
}

.notif_unrd {
  background: #fff !important;
  color:#421c52 !important;
  border-radius: 50px;
}

#notif_nav small {
  display: none;
  position: absolute;
  display: block;
  padding: 0 3px;
  top:2px;
  right: 0px;
  background: #fff;
  border-radius: 15px;
  color: #000;
}


.btn-hov + .tooltip > .tooltip-inner {
    background-color: #421c52;
    font-size: 15px;
    color: #FFFFFF; 
    border: 1px #fff;
    border-radius: 30px;
    padding: 7px;
    font-size: 14px;
    font-family: Roboto, Helvetica;
    width: 60px;

}

.btn-hov + .tooltip.right > .tooltip-arrow {
    display: none;
}

.btns {
  list-style: none;
  position: fixed; 
  bottom: 25%;
  left:4%;
}

@media only screen and (max-width: 1198px){
  .btns {
    left: 1%;
  }
  .btns i {
    font-size: 17px;

  }
}

@media only screen and (min-width: 600px){
  .mob-list {
    position: fixed;
    bottom: 2% !important;
    left: 37% !important;
  }
}

@media (min-width: 435px) and (max-width: 600px){
  .mob-list{left:27% !important;
  }
}


.btns li {
  margin-bottom: 30px;
}

.btns li button {
  background: #fff;
  color:#421c52;
  border:3px solid #421c52;
  border-radius: 35px;
  padding-top: 10px;
}

.btns li button:hover, .btns li button:focus, .btns li button:visited, .btns li button:active {
  background: #421c52;
  color:#fff;
  border:3px solid #421c52;

}

.mob-list li button {
  background: #fff;
  color:#421c52;
  border:3px solid #421c52;
  border-radius: 35px;
  padding-top: 10px;
}

.mob-btns i {
  font-size: 18px;
}

.mob-btns li button:hover, .btns li button:focus, .btns li button:visited, .btns li button:active {
  background: #421c52 !important;
  color:#fff;
  border:3px solid #421c52;

}

.mob-list {
  list-style: none; position: fixed; bottom: 2%; left: 20%;
}


.search_title{
  font-size: 15px;
  font-family: Roboto;
  color: #2c1338;
  position: relative;
  bottom: 15px;
}

.search_date{
  font-size: 12px;
  color: #4e4e4e;
  font-family: Roboto;
  position: absolute;
  bottom:0;
  left: 50px;
}

.search_typ{
  color: #eee;
  float: right;
  font-size: 14px;
  display: inline-block;
  height: 25px;
  background: #2ca529;
  padding:3px;
  border-color: #5cd10e; 
  border-radius: 4px;
}

.result_img {
  margin-right: 5px;
}



.list-inline li .btn:hover {
  background: #fff;
}



//navbar stuff
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #000;
}

.navbar-header {
  padding-top: 0px !important;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: #200f27;
    border-width: 1px;
    border-color: #200f27
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: #200f27
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 28, 82, 1);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #421C52
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #421C52;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #421C52;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #421C52;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #421c52;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li:last-child {
    margin-right: 30px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 14px;
}

.navbar-collapse .dropdown-menu {
  background: #421c52;
}

.navbar-collapse .dropdown-menu li a {
  color: #fff;
  background: #421c52; }

@media(max-width: 768px){
    .navbar-collapse .dropdown-menu li a {
      color: #fff !important; 
    }
}

.navbar-brand img{
  height: 55px;position: relative;bottom: 17px; right: 35px;
}
 
@media(max-width: 768px){
    .navbar-brand img {
      right: 35px !important;
    }
}




//end of navbar



textarea {
  resize:none;
}

.well{ 
      margin: 0 auto;
      margin-bottom: 5% !important; 
      background: #fff;
      border-color: #ebc5f7;
      padding: 0 !important;
      border-width: 1px;
}

.block_link {
  display: block;
  text-decoration: none;
}


.bio {
  text-align: justify;
  width: 540px;
}

i.liked{
  color: #b2016e !important;
}

#fav_btn{
  color:#eee;font-size: 40px;position: absolute;top:-15px; right: -15px; cursor: pointer;cursor: hand;
}


.block_thumb {
  border: 2px solid #fff;
  border-radius: 30px;
  position: relative;
  bottom: 3px;
  right: 3px;
}
.main_index {
  max-width:525px;
  margin: 0;
}

.block_header {
  position:relative;
  padding: 11px 10px 4px 13px;
  background: #421C52;
}
.block_name {
  position: absolute;
  left: 75px;
  bottom:36px;
  font-size:14px;
  color: #fff;
  font-family: Roboto, Helvetica; 
}
.block_time {
  position: absolute;
  top:37px;
  left:77px;
  font-style: italic;
  font-size: 13px;
  display: inline-block; 
  background: #421C52;
  color: #fff; 
  border-radius: 5px;
}
.block_content {
  text-align: justify-all;
  color:#47494c;
  margin: 4% 20px 5px 20px;
  padding-right: 10px;
}
.block_img {
  border-radius: 10px; 
  width: 94%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-top: 1%;

}
.block_content p {
  overflow-wrap: break-word;
  font-family: Roboto;
  font-size: 15px;
}


.fa-hand-spock-o{
  margin-left: 15px;
  color:#522777;
  font-size: 1.3em;  
  margin-bottom: 15px;
  cursor: pointer; 
  cursor: hand;
  text-shadow: 0px 0px 5px #9336a3;
}

.fa-hand-paper-o {
  margin-left: 15px;
  color:#522777;
  font-size: 1.3em;  
  margin-bottom: 15px;
  cursor: pointer; 
  cursor: hand;
}
.like, .yolike {
  display: inline-block; 
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1.5%;
}


.fa-comment, .fa-user-circle {
  color:#522777;
  font-size: 1.3em;
  cursor: pointer; 
  cursor: hand;
}

.comments, .yolink {
  display: inline-block; 
  margin-left: 15%;
}
.fa-bullhorn{
  color:#522777;
  font-size: 1.3em;
  cursor: pointer; 
  cursor: hand;
}
.bookmark {
  display: inline-block; 
  margin-left: 15%;
}
.com_cont {
  width: inherit; 
  padding-left: 2% !important; 
  padding-right: 2% !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  margin: bottom:0 !important;
}
.comment_box {
  background:#eee;
  display: none;
  width: 100%;
  border: 1px solid transparent;
}

.comment_edit {
  border: 2px solid #9336a3;
  border-radius: 5px;
  background: #fff;
  width: 88%; 
  height: 40px; 
  padding: 7px;
  resize: vertical;
}

.pcomment_edit {
  border: 1px solid #9336a3;
  border-radius: 5px;
  background: #fff;
  width: 86%; 
  height: 60px; 
  padding: 7px;
  resize: vertical;
}



.comment_edit:focus, .comment_edit:visited, .comment_edit:active,
.pcomment_edit:focus, .pcomment_edit:visited, .pcomment_edit:active
 {
    border-color: #421c52;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #421c52 !important;
}


.com_send_btn {
  border:2px solid #9336a3; 
  position: absolute; 
  right:20px; 
  top:0px; 
  border-radius: 30px; 
  padding:7px 9px; 
  background: #fff;
}

.pcom_send_btn {
  border:2px solid #9336a3; 
  position: absolute; 
  left: 88%;
  top:9%; 
  border-radius: 
  30px; 
  padding:9px 11px; 
  background: #fff;
}

@media only screen and (max-width: 768px){
  .pcom_send_btn i{
    font-size: 18px !important; 
  }

  .pcom_send_btn {
    padding: 7px 9px !important;
  }
}

@media only screen and (max-width: 768px){
  .navbar-brand img {
    position: relative;
    right:20px;
  }
}

.pcom_upv {
  position: relative;
  left: 6.5%

}

.bups:hover {
  cursor: pointer;
  cursor: hand;
}

.com_send_btn:hover {
  background: #f5f5f5;
}

@media only screen and (max-width: 500px){
  .comment_edit {
    width: 83%;
  }
  #celeb_credits li{
    width: 30%;
  }
}



@media only screen and (min-width: 991px){
  .block_col {
    position: relative;
    left: 8%;
  }

}

@media only screen and (max-width: 768px){
  .block_col .col-md-12{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
  .block_col {
    padding-left: 8px !important;
    padding-right: 8px !important;

  }
}


.coms {
  padding-left:1%;
  padding-bottom: 2%;
}



.com_send_btn i {
  color: #9336a3;
}

.com_img {
  margin-bottom: -99999px; 
  padding-bottom: 99999px; 
  padding-left: 2%;
}


.com_img img {
  border: 0.5px solid #9336a3; 
  border-radius: 30px;
}
.com_tex {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  width: 81%;

}

.sglow{
  text-shadow: 0px 0px 5px #9336a3;
}

.com_tex p {

  display: inline-block; 
  border: 1px solid #fff; 
  border-radius: 5px; overflow-wrap: break-word; 
  font-size: 13px;
  padding: 3px; 
  background: #fefefe;
  font-family: Roboto;
  word-break: break-all;
  white-space: normal;
}


.block_post {
  margin: 0 auto;
  max-width: 525px;
  padding: 10px;
  border-color: #9336a3;
  border-radius: 5px;
}

.block_post textarea {
  border-color: #9336a3;
  border-radius: 25px;
  margin:0 auto;
  padding:15px;
  resize: none;
}

.block_post textarea:focus {
    border-color: #9336a3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9336a3;
}

.movie_select {
  float: left; 
}

.movie_select input {
  background:#fff; 
  color:#000;
  border-radius:25px; 
  border:3px solid #fff; 
  padding: 7px;
  width: 150px;
}


#main_search {
  display:block;  
  background: #eee ;
  padding-top:5px; 
  border-radius: 0px;
  border: 3px solid #eee; 
  padding: 5px; 
  font-style: italic;
   margin: 0 auto; 
   min-width: 95% !important; 
   max-width: 95% !important
}

@media only screen and (max-width:768px){
  #main_search{
    margin-left: 20px ! important;
  }
}


.block_cam {
  float: right; 
  display: block;
  border:3px solid #fff; 
  padding-left: 12px; 
  padding-top: 7px;
  width: 50px; 
  border-radius: 30px; 
  background: #fff;
  color: #421c52;
}


.block_share {
  float: right; 
  border-radius: 30px; 
  background: #421c52; 
  color: #fff;
  border:3px solid #fff;
}

.fanart_div{
  position:relative; 
  display:inline-block;
}

.fanart_div img{
  height:200px; margin-bottom:20px; margin-right: 10px;
}

.fanart_div span{
  font-size: 12px;border:1px solid #000;position:absolute; right:30px; bottom:30px; background:#fff; border-radius:10px; padding:4px; text-decoration:none; font-family:Josefin Sans;
}


.carousel_inner{
  text-align: center;
}

.search_link{
  text-decoration:none; color:#000; position:relative;
}

@media only screen and (max-width: 760px){
  .fanart_div img{
  height:150px;  margin-bottom:10px;
}
  .fanart_div span{
    font-size: 10px;
    right:12px; bottom:12px;
  }


}





@media only screen and (max-width: 500px){
  .movie_select input {
    width: 100px;
  }
}

.bio {
  position: relative;
  min-height: 170px; 
}
      
.form-control:focus {
  border-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #421c52;
}

 
@media only screen and (max-width: 500px) {
  .desk_only {
    display: none;
  }
}

.stories li a:hover {
  color: #000
}


#del_confirm {
  border-radius: 20px;
  top:150px;
  right: 75px;

}

@media only screen and (max-width: 768px){
  #del_confirm{
  right:0% !important;

}
}


#del_confirm .modal-dialog {
  width: 500px;
  margin: 0 auto;
}

#del_confirm .model-header {
  background: #421c52;
}


.table-borderless td,
.table-borderless th {
    border: none !important;
}


input:focus, textarea:focus, #id_summary:focus, #id_thumb:focus, .pcom_send_btn:focus, #myBtn:focus, #pBtn:focus, #lBtn:focus,.com_send_btn:focus
{ outline: 0; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }


.movie_stat_cont table {
  font-family: Roboto, Helvetica, sans-serif;
}

.movie_stat_cont table th {
  color: #421c52;
}


.movie_ovrv {
  font-weight: bold; font-family: Roboto;
}


.movie_ovrv span{
  color: green;
}

.circle{
   cursor: pointer;
   display: block;
   position: absolute; bottom:30px;border-radius: 50%;
       behavior: url(PIE.htc); /* remove if you don't care about IE8 */
       width: 60px;
       height: 60px;
       padding: 10px 10px 8px 8px;
       background: #421c52;
       border: 4px solid #fff;
       color: #fff;
       font-size: 20px;
       font-weight: bold;
       font-family: Roboto;
       text-align: center;
       margin:0 auto;
}

.poster_top{
  position: absolute;
  bottom: -50px;
  left: 17%;
}
.movie_stat_cont .modal-dialog{
  display: block;
  width: 100%;
  margin:0 auto;
  margin-top: 30px;

}

.poster_top img{
  border: 5px solid #421c52;
}
#m_stats{
  position: relative; 
  top: 70px;
}

.back_movie{
  position: relative;
  z-index: -1;
  height: 320px; width: 100%;background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center;
      opacity: 0.4
}

.back_movie .layer{
  background: #220e2b; 
  height: 320px; 
  width: 100%; 
  opacity: 0.5;
}

.creator_link{
  text-decoration: none; 
  color: #421c52;
}

#left-col{
  position: fixed;
  overflow-y: hidden;
  right:0;
  height: 100vh;
}

.movie_top_det {
  position: absolute;
  left: 30%; 
  width: 60%;
  top:5%;
}

.m_blocks {
  margin-top: 40px;
}


.mblocks .well .block_header {
}

.rate_div span {
  color: #421c52; font-weight: bold;
}

.vid-container{
  position: relative;
    padding-bottom: 50%;
    padding-top: 35px;
    height: 0;
    margin-top: 30px;
}

.vid-container iframe{
  position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 93.5%;
    border: 3px solid #421c52;

}

#image_collection{
  margin-top: 30px;
  margin-bottom: 50px;
  max-height: 470px;
  overflow-y: scroll;
}


#creators{
  color: #421c52;
  font-family: Roboto
}

#movie_creds_cast img{
  border-right: 2px solid #421c52;
}

.coll_image {
  max-width: 87%;
  display: block;
  margin:0 auto;
  margin-bottom: 5px;
  border: 2px solid #421c52;
  text-align: center;
}

.news_thumbs{
  width: 90%;
}

.sim_image{
  margin: 3px;
  border: 2px solid #421c52;
  width: 30%;
  box-shadow: 0px 2px 40px #421c52;
  opacity: 0.95;
}

.sim_image:hover{
  opacity: 1
}

#cast_table{
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
}



#cast_table img{
  width: 50px;
  border: 2px solid #421c52;
}

#cast_table h6, #cast_table p{
 

}

#main_profile{
  display: block;
  width: 185px;
  margin: 0 auto;
  position: relative;
  left: 15%;
}

#p_images{
  max-height: 800px; 
  overflow-x: scroll; 
  margin-top: 10px
}

#p_images img{
  margin-bottom: 10px; 
  border-right: 3px solid #421c52;
  border-top: 3px solid #421c52;
  border-bottom: 3px solid #421c52;

}

#image_coll_cs{
  text-align: center;
   font-family: Roboto; 
   margin-bottom: 20px;
}

#image_coll_cs i, #cast_cs i {
  display: none;
}


.polaroid {
  border: 1px solid #333;
  opacity: 0.95;
  margin: 4px;
  box-shadow: 0px 2px 20px #421c52;
  max-height: 238px;
  width: 30%;

}

.polaroid:hover {
  opacity: 1
}

.index_cats {
  display: inline-block; 
  position: relative; 
  left: 40%; 
  color: #000;
  font-family: Josefin Sans; 
  text-align: center; 
  font-size: 40px; 
  padding: 0 10px; 
  border-radius: 40px;
}




@media only screen and (max-width: 990px) {
  .movie_top_det{
  left: 38% !important;
  width: 60%
}

.polaroid{ 
  width: 40%;
}
}

@media (min-width: 768px) and (max-width: 990px){

  .sim_image{
  width: 100px !important;
}
.vid-container iframe{
  width: 100%;
}
#cast_table{
  width: 100%;
  max-height: 400px !important;
  overflow-y: scroll;
  margin-bottom: 50px;
}

}

@media only screen and (max-width: 967px){
  #image_collection{
    margin-bottom: 0px;
    overflow-x: scroll;
    width: 100%;
  }

  .coll_image{
    float: left;
  }

  .image_inner{
    width: 3500px;
  }
}



@media only screen and (max-width: 768px){



#info_table tr:nth-child(2), #info_table tr:nth-child(4), #info_table tr:nth-child(5),#info_table tr:nth-child(1) {
  display: none
  
}

.search_typ{
  display: none;
}


.polaroid{ 
  width: 40%;
}

.index_cats{
  left:17%;
}


  #movie_creds_cast img{
  width: 120px;
}





  #image_coll_cs i, #cast_cs i{
    display: inline;
    position: relative;
    left:20px;
    top:4px;
    cursor: pointer;
    cursor: hand;
  }


  .movie_stat_cont .modal-dialog{
    width: 100%;
  }


  #p_images .p_img_inner{
    width: 1540px;
  }

  #p_images{
    overflow-x: scroll;
  }

  #p_images img{
    width: 154px !important;
  }


  .poster_top{
    display: block;
    margin:0 auto;
    bottom: 10px;
  }

  .back_movie .layer{
    background: #fff;
    z-index: -1
  }


  .poster_top img{
  width: 95%;
  display: block;
  margin:0 auto;
  position: relative;
    left: 10%;
  }

  .movie_top_det{
    display: none;
  }

  #m_stats{
    position: relative;
    top:0;
  }
}


@media only screen and (max-width: 450px){
  .polaroid{ 
  width: 70%;
  position: relative;
  left: 10%;
}
}






//stuff auth

.profile_pic_center {
  display: block;
  margin: auto;
    border:5px solid #421c52;
    border-radius: 5px;
}


.profile_name {
  text-align: center;
  font-family: Roboto;
  overflow-wrap: break-word;
}
.profile_index {
  margin:0 auto;
  max-width: 525px;
}
#profile_pic_image {
    border:5px solid #421c52;
    border-radius: 5px;
}
#bio {
  max-width: 525px;
}
.bio_head {
  color:#421c52;
  font-family: Just Another Hand;
}
.follow_buttons {
  text-align: center;
}

.bio_div p {
  overflow-wrap: break-word;

}

//profile edit


.bio_edit textarea {
  border-color: #9336a3;
  border-radius: 5px;
  margin:0 auto;
  padding: 10px;
  position: relative;
}
.bio_edit textarea:focus {
  border-color: #9336a3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9336a3;

}
.avatar_upload_button, .avatar_upload_button:focus, .avatar_upload_button:active {
  margin:0 auto;
  background-color: #421c52;
  color: #ffffff;
  border-color: #000;
}
.avatar_upload_button:hover {
  margin:0 auto;
  background-color: #873196;
  color: #ffffff;
  border-color: #000;

}
.btn_custom,.btn_custom:active,.btn_custom:focus {
  margin:0 auto;
  background-color: #421c52;
  color: #fff; 
  border-color: #000;
}
.btn_custom:hover {
  margin:0 auto;
  background-color: #873196;
  color: #fff; 
  border-color: #000;

}
.form_headers {
  color: #9336a3;
  text-align: center;
}
.top-buffer { 
  margin-top:40px; 
}
.top-buffer2 { 
  margin-top:70px; 
}

[hidden] {
  display: none !important;
}
.edit_link {
  text-align: center;
  margin-top: -10px;
}
.btn-default, .btn-default:active, .btn-default:focus {
  border-color: #421c52;
  background-color: #9336a3;
  color: #fff;
}
.btn-default:hover {
  background-color: #421c52;
  color: #fff;
}
.follower_count {
  display: inline-block;
  background: #9336a3; 
  color: #fff; 
  padding: 8px 8px 8px 8px; 
  border-radius: 5px;
  margin-top: 1px;
}










